<div class="nav-toggle">
    <button class="nav-button"><span class="icon icon-user"></span>profile</button>
</div>

<div class="nav-content">
	<div class="user-info">
		<div class="rank-info">
			<div class="rank-icon">
				<img src="images/ranks/{{ rank-icon }}"/>
			</div>
			<p class="user-name">{{ name }}</p>
			<p class="rank-name">{{ rank-name }}</p>
			<p class="standing">Ranked {{ rank }} / 6</p>
		</div>
	</div>
	<div class="experience">
		<div class="bar">
			<div class="bar-value"></div>
		</div>
		<span class="next-level">Lvl {{ next-rank }}</span>
		<span class="level">Lvl {{ rank }}</span>
		
	</div>
	<div class="status">
		
	</div>
</div>